:root {
  --background-color: #121212;
  --font-color: whitesmoke;
  --z-index: 25;
}
.App {
  color: var(--font-color);
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas:
    "navbar navbar"
    "sidebar .";
}

/* Navbar styling */
.navbar-content {
  display: flex;
  grid-area: navbar;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: var(--z-index);
  background-color: var(--background-color);
  color: var(--font-color);
}
.search-container {
  flex-grow: 1;
}
.search-bar {
  width: 60%;
  height: 1.5rem;
  border-radius: 0.25rem;
}
.logo {
  margin: 1rem;
}

/* Sidebar styling */
.sidebar {
  grid-area: sidebar;
  list-style: none;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar-item {
  text-decoration: none;
  color: var(--font-color);
  padding: 0.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sidebar-item:hover {
  font-size: 1.25rem;
}
.sidebar-active-class {
  font-size: 1.1rem;
  color: #32a883;
}

/* for video-list */
.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* For video display page */
.iframe-div {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25;
  height: 0;
}
.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button-style {
  color: inherit;
  background-color: inherit;
}
.modal-theme {
  color: var(--font-color);
  background-color: var(--background-color);
  border: 2px solid grey;
  width: 300px;
}

.display-flex {
  display: flex;
  justify-content: space-evenly;
}
.playlist-input {
  color: var(--font-color);
  background-color: var(--background-color);
  border: none;
  border-bottom: 2px solid grey;
}
.avatar-padding {
  margin-right: 1rem;
}
.iframe-container {
  width: 900px;
}
.snackbar-display {
  height: 3.5rem;
  z-index: var(--z-index);
  border: 2px solid var(--font-color);
}
.link-unstyled {
  text-decoration: none;
  color: inherit;
}
.button-style-margin {
  margin: 1rem;
}
.playlist-overlay-image {
  position: absolute;
  right: 0rem;
  top: 50%;
}

/* Modifying card style */
.card-style {
  border: none;
  height: 340px;
  width: 330px;
}
/* card image style */
.card-img-style {
  height: auto;
  width: 100%;
}
/* Login page */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid whitesmoke;
  width: 300px;
  margin: auto;
}
.label-styles {
  align-self: center;
  size: 1.2rem;
}
.input-field {
  width: 100%;
  height: 1.125rem;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  .sidebar-item-name {
    display: none;
  }
  .iframe-container {
    width: 100%;
  }
  .sidebar {
    position: fixed;
    bottom: 0rem;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    z-index: var(--z-index);
    width: 100%;
  }
  .App {
    margin-top: 4rem;
    display: flex;
    width: 100%;
  }
  .navbar-content {
    position: fixed;
    top: 0rem;
    z-index: var(--z-index);
  }
}
