.App {
  color: white;
  background-color: black;
}
.top-navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
/* for video-list */
.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.video-display {
  flex-basis: 80%;
}
.button-unstyled {
  border: none;
  background-color: inherit;
}
